.preview-div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 1.6rem;
  gap: 1rem;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
  margin: 1rem;
  margin-left: 6rem;
  justify-content: left;
  width: 85vw;
  border-radius: 8px;
}

.CA-btn {
  background-color: black;
  color: white;
  border-radius: 8px;
  border: 1px solid;
  padding: 8px;
  padding-inline: 12px;
  width: fit-content;
}

.priview-title-sm {
  color: var(--light-text-secondary, rgba(76, 78, 100, 0.6));
  font-feature-settings: "clig" off, "liga" off;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  text-align: left;
}

.priview-txt {
  text-align: left;
  color: var(--light-text-secondary, rgba(76, 78, 100, 0.6));
  font-feature-settings: "clig" off, "liga" off;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
}
.priview-check {
  margin-left: 0;
  display: flex;
  justify-content: left;
}

.link {
  color: var(--light-states-contained-hover-background, #5459d1);
  margin-left: 3px;
}

@media only screen and (max-width: 920px) {
  .preview-div {
    width: 76vw;
  }
}
@media only screen and (max-width: 640px) {
  .preview-div {
    grid-template-columns: repeat(1, 1fr);
    width: 62vw;
  }
  .priview-title-sm {
    font-size: 13px;
  }
  .priview-txt {
    font-size: 14px;
  }
}
